@page
@model CO5227_J790290_1919281.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Pages/_Layout.cshtml";
}

<h1>Access Denied</h1>
<h2>You do not have the permissions to view this page</h2>
