@page
@model CO5227_J790290_1919281.Pages.AboutModel
@{
    ViewData["Title"] = "FoodCove - About";
    Layout = "~/Pages/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="~/CSS/About.css" rel="stylesheet" />

<div class="title_header">
    <h1 class="about">About</h1>
</div>

<div class="container">
    <img class="cafe_sketch" src="~/Images/cafe.png" />
    <h1 class="story_header">Our Story</h1>
    <p>
        Foodcove is a french restaurant located in Sartrouville.
        Foodcove is a contemporary restaurant that draws from the rich culinary heritage and experiences from BENOIST DÉVOTE.
    </p>
    <p>
        Sed mattis pretium mi, volutpat pellentesque erat congue bibendum. Phasellus faucibus ac arcu faucibus scelerisque.
        Donec aliquam tortor justo, id bibendum turpis tempus et. In imperdiet odio a nibh faucibus, in varius lacus lobortis.
        Vestibulum ultricies consequat tellus at finibus. Donec massa neque, bibendum et ultrices et, viverra nec nisl. Vestibulum eros mi,
        sagittis vitae finibus et, ultrices a leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        Quisque hendrerit id metus nec imperdiet. Aliquam ornare sem ipsum. Nullam tempor quam purus, in interdum elit bibendum at. Curabitur neque turpis,
        pellentesque eu pulvinar eu, mattis lobortis ligula.
    </p>
    <p>
        Aenean tincidunt facilisis euismod. Nullam tincidunt eget elit sed aliquet. Curabitur varius lacus a ex tempus convallis. Nulla aliquam nunc erat,
        et viverra mi fringilla et. Aliquam erat volutpat. Nunc nec finibus lorem, vitae tempor urna. Curabitur iaculis, arcu vel iaculis consectetur, tellus mi volutpat ante,
        id hendrerit magna risus hendrerit eros. Cras erat justo, vestibulum sit amet nisi sit amet, convallis luctus lacus.
    </p>
    <p>
        Vestibulum nec ante id nibh commodo eleifend sed in nulla. Nullam consequat sem porta lobortis sollicitudin. In nunc orci, molestie et iaculis non, lobortis in massa.
        In metus tellus, laoreet ac rhoncus sed, congue eget ante. Nam ac felis a lorem mollis feugiat. Curabitur semper, libero aliquam commodo tempus, nibh sapien sagittis mi,
        et dignissim dolor nisl ac elit. Praesent vitae velit sodales, viverra eros vitae, porta nibh. Quisque et nibh non orci faucibus pulvinar. Maecenas nec lacinia orci. Donec quis sem porta,
        dignissim eros a, porta leo. Pellentesque tristique, lorem quis eleifend ultrices, elit turpis feugiat tortor, in congue nibh nibh fringilla sapien. Suspendisse faucibus facilisis libero,
        sed posuere justo consectetur in.
    </p>
    <p>
        Praesent a iaculis mi. Pellentesque eget tortor massa. Phasellus scelerisque arcu et erat ultricies tempor. Aliquam faucibus porta mi, id dignissim quam ultricies id.
        Maecenas vulputate sed sapien non egestas. Duis id odio arcu. Cras eget congue tortor. Nam ornare finibus ipsum at fermentum. Integer magna dolor, porttitor a purus a,
        molestie iaculis turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris pretium purus id lacus hendrerit lobortis.
        Phasellus ut leo sit amet lectus pulvinar malesuada a ut neque.
    </p>
</div>

