@page
@model CO5227_J790290_1919281.Pages.PurchaseConfirmationModel
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Pages/_Layout.cshtml";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="~/CSS/PurchaseConfirmation.css" rel="stylesheet" />

<div class="container">
    <div class="content">
        <h1>Thank You</h1>
        <h4>Your purchage has been made.</h4>
        <p>Would you like to go back Home?</p>
        <form>
            <button formaction="https://foodcove.1919281.win.studentwebserver.co.uk/" class="back_button">Go Back</button>
        </form>
    </div>
</div>