/* Header Section */
.title_header {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout {
    background-image: url(../Images/wood.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    font-family: overpass-bold;
    height: 150px;
    padding: 65px 40px;
    font-size: 32px;
}

/* Container Section */
.container {
    margin: auto;
    width: 100%;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* Table Section */
.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: Rubik-Regular;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
    background-color: #101010;
    color: #FFFFFF;
    font-weight: bold;
    font-family: Rubik-Regular;
}

.table th, .table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid #DDDDDD;
}

.table tbody tr:last-of-type {
    border-bottom: 3px solid #101010;

}

/* Button Section */
.inc {
    border: 1px solid #101010;
    background: transparent;
    color: #101010;
    width: 25px;
    height: 25px;
    margin: 0px 8px;
    cursor: pointer;
    font-size: 16px;
    font-family: Rubik-Regular;
}

/* Media Query Section */

/* For Mobile */
@media screen and (max-width: 700px) {
    .table {
        font-size: 0.5em;
    }
}